{% extends 'base.html' %}
{% load i18n %}

{% block title %}Welcome{% endblock %}

{% block extracss %}
{{ block.super }}
<style>
body {
  background: #888;
  color: #eee;
}
.jumbotron {
  background: #fff;
  margin-top: 15px;
  color: #111;
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width: 767px) {
  .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
  }
}
span.lucky-number {
  white-space: nowrap;
  margin: 0 0.25em;
}
.fortune, .lucky-numbers, .chinese-word {
  /*display: none;*/
}
</style>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
$(function() {
  $('.jumbotronX').click(function() {
    if ($('.fortune:visible').length) {
      $('.click-to-open, .fortune').hide();
      $('.lucky-numbers, .chinese-word').show();
    }
    else {
      $('.click-to-open, .lucky-numbers, .chinese-word').hide();
      $('.fortune').show();
    }
  });
});
</script>
{% endblock %}

{% block mainclass %}container{% endblock %}

{% block content %}
<div class="jumbotron clearfix text-center">
  {% if 0 %}<h1 class="click-to-open">{% trans 'Click to Open...' %}</h1>
  <h1 class="fortune">{{ object.fortune }}</h1>
  {% if object.lucky_numbers.exists %}
    <h3 class="lucky-numbers">{% trans 'Lucky Numbers' %}</h3>
    <h2 class="lucky-numbers">{% for ln in object.lucky_numbers.all %}<span class="lucky-number">{{ ln }}</span> {% endfor %}</h2>
  {% endif %}
  {% if object.chinese_word %}
    <h3 class="chinese-word">{% trans 'Learn Chinese' %}</h3>
    <h2 class="chinese-word">{{ object.chinese_word }}</h2>
  {% endif %}
  {% endif %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h1 class="fortune">{{ object.fortune }}</h1>
      </div>
      {% if object.lucky_numbers.exists %}
        <div class="item">
          <h3 class="lucky-numbers">{% trans 'Lucky Numbers' %}</h3>
          <h2 class="lucky-numbers">{% for ln in object.lucky_numbers.all %}<span class="lucky-number">{{ ln }}</span> {% endfor %}</h2>
        </div>
      {% endif %}
      {% if object.chinese_word %}
        <div class="item">
          <h3 class="chinese-word">{% trans 'Learn Chinese' %}</h3>
          <h2 class="chinese-word">{{ object.chinese_word }}</h2>
        </div>
      {% endif %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock content %}
