{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Your Fortune' %}{% endblock %}

{% block extracss %}
{{ block.super }}
<style>
.jumbotron {
  background: #fff;
  margin-top: 15px;
  color: #111;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  padding: 0 !important;
}
@media screen and (max-width: 767px) {
  .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.jumbotron h1 {
  font-size: 48px;
}
span.lucky-number {
  white-space: nowrap;
  margin: 0 0.25em;
}
.carousel .item {
  padding: 2% 13% 80px;
}
@media screen and (max-width: 767px) {
  .carousel .item {
    padding: 2% 13% 60px;
  }
}
.carousel-control {
  color: #444 !important;
  text-shadow: none;
}
.carousel-indicators li {
  border-color: #ccc;
  background: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.carousel-indicators .active {
  background: #888;
  border-color: #888;
  width: 22px;
  height: 22px;
}
h1.refresh {
  font-size: 60px;
  margin-top: 60px;
}
h1.refresh, div.fortune-cookie a {
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}
h1.refresh a,
div.fortune-cookie a {
  color: #ddd;
}
h1.refresh a:hover, h1.refresh a:focus,
div.fortune-cookie a:hover, div.fortune-cookie a:focus {
  color: #fff;
}
</style>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
$(function() {
  $('.fortune-cookie a').click(function() {
    $('.fortune-cookie, .refresh').finish().fadeOut(400, function() {
      $('.jumbotron').slideDown(400);
      $('.refresh').delay(400).fadeIn(400);
    });
  });
  $('.fortune-cookie').delay(400).fadeIn(400);
  $('.refresh').delay(1200).fadeIn(400);
});
</script>
{% endblock %}

{% block mainclass %}container{% endblock %}

{% block content %}
<div class="fortune-cookie text-center" style="display: none;">
  <a href="#">
    <img class="img-responsive center-block" src="{% static 'img/fortunecookie.png' %}">
    <h4 class="text-center">{% trans 'Click to reveal your fortune' %}</h4>
  </a>
</div>
<div class="jumbotron clearfix text-center" style="display: none;">
  <div id="fortune-carousel" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#fortune-carousel" data-slide-to="0" class="active"></li>
      {% if object.lucky_numbers.exists or object.chinese_word %}
      <li data-target="#fortune-carousel" data-slide-to="1"></li>
      {% if object.lucky_numbers.exists and object.chinese_word %}
      <li data-target="#fortune-carousel" data-slide-to="2"></li>
      {% endif %}
      {% endif %}
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h1 class="fortune">{{ object.fortune }}</h1>
      </div>
      {% if object.lucky_numbers.exists %}
        <div class="item">
          <h3 class="lucky-numbers">{% trans 'Lucky Numbers' %}</h3>
          <h2 class="lucky-numbers">{% for ln in object.lucky_numbers.all %}<span class="lucky-number">{{ ln }}</span> {% endfor %}</h2>
        </div>
      {% endif %}
      {% if object.chinese_word %}
        <div class="item">
          <h3 class="chinese-word">{% trans 'Learn Chinese' %}</h3>
          <h2 class="chinese-word">{{ object.chinese_word }}</h2>
        </div>
      {% endif %}
    </div>
    <a class="left carousel-control" href="#fortune-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
    <a class="right carousel-control" href="#fortune-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Next' %}</span>
    </a>
  </div>
</div>
<h1 class="text-center refresh" style="display: none;">
  <a href="{{ request.path }}">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    <h5 class="text-center">{% trans 'Load a new fortune' %}</h5>
  </a>
</h1>
{% endblock content %}
